<% if song != nil %>
    <li><b>Title:</b><%= song.title %></li>
    <li><b>Interpret:</b><%= song.interpret %></li>
    <li><b>Album:</b><%= song.album %></li>
    <li><b>Track:</b><%= song.track %></li>
    <li><b>Year:</b><%= song.year %></li>
    <li><b>Genre:</b><%= song.genre %></li>
    <hr>
<% end %>